<config>
	<adb_path><![CDATA[/home/dsusin/Programs/adt/sdk/platform-tools/adb]]></adb_path>
	<standard_actions>
		<action name="power">
			<adb_command><![CDATA[shell input keyevent 26]]></adb_command>
		</action>
		<action name="back">
			<adb_command><![CDATA[shell input keyevent 4]]></adb_command>
		</action>
		<action name="home">
			<adb_command><![CDATA[shell input keyevent 3]]></adb_command>
		</action>
	</standard_actions>
	<action_list>
		<action app="gmail">
			<adb_command><![CDATA[shell am start -a android.intent.action.MAIN -n com.google.android.gm/.ConversationListActivityGmail]]></adb_command>
		</action>
		<action app="twitter">
			<adb_command><![CDATA[shell am start -a android.intent.action.MAIN -n com.twitter.android/.StartActivity]]></adb_command>
		</action>
		<action app="facebook">
			<adb_command><![CDATA[shell am start -a android.intent.action.MAIN -n com.facebook.katana/.LoginActivity]]></adb_command>
		</action>
		<action app="linkedin">
			<adb_command><![CDATA[shell am start -a android.intent.action.MAIN -n com.linkedin.android/.authenticator.LaunchActivity]]></adb_command>
		</action>
		<action app="outlook">
			<adb_command><![CDATA[shell am start -a android.intent.action.MAIN -n com.outlook.Z7/com.seven.Z7.app.email.EmailFront]]></adb_command>
		</action>
		<action app="dropbox">
			<adb_command><![CDATA[shell am start -a android.intent.action.MAIN -n com.dropbox.android/.activity.DropboxBrowser]]></adb_command>
		</action>
		<action app="pinterest">
			<adb_command><![CDATA[shell am start -a android.intent.action.MAIN -n com.pinterest/.activity.PinterestActivity]]></adb_command>
		</action>
		<action app="browser">
			<adb_command><![CDATA[shell am start -a android.intent.action.VIEW -d]]></adb_command>
			<parameters>
				<parameter><![CDATA[http://google.es]]></parameter>
				<parameter><![CDATA[http://facebook.com]]></parameter>
				<parameter><![CDATA[http://youtube.com]]></parameter>
				<parameter><![CDATA[http://google.com]]></parameter>
				<parameter><![CDATA[http://amazon.es]]></parameter>
				<parameter><![CDATA[http://live.com]]></parameter>
				<parameter><![CDATA[http://blogspot.com.es]]></parameter>
				<parameter><![CDATA[http://yahoo.com]]></parameter>
				<parameter><![CDATA[http://twitter.com]]></parameter>
				<parameter><![CDATA[http://wikipedia.org]]></parameter>
				<parameter><![CDATA[http://marca.com]]></parameter>
				<parameter><![CDATA[http://milanuncios.com]]></parameter>
				<parameter><![CDATA[http://delta-search.com]]></parameter>
				<parameter><![CDATA[http://lollipop-network.com]]></parameter>
				<parameter><![CDATA[http://elmundo.es]]></parameter>
				<parameter><![CDATA[http://ask.com]]></parameter>
				<parameter><![CDATA[http://elpais.com]]></parameter>
				<parameter><![CDATA[http://babylon.com]]></parameter>
				<parameter><![CDATA[http://as.com]]></parameter>
				<parameter><![CDATA[http://linkedin.com]]></parameter>
				<parameter><![CDATA[http://wordpress.com]]></parameter>
				<parameter><![CDATA[http://msn.com]]></parameter>
				<parameter><![CDATA[http://tuenti.com]]></parameter>
				<parameter><![CDATA[http://conduit.com]]></parameter>
				<parameter><![CDATA[http://lacaixa.es]]></parameter>
				<parameter><![CDATA[http://segundamano.es]]></parameter>
				<parameter><![CDATA[http://gob.es]]></parameter>
				<parameter><![CDATA[http://redtube.com]]></parameter>
				<parameter><![CDATA[http://badoo.com]]></parameter>
				<parameter><![CDATA[http://telecinco.es]]></parameter>
				<parameter><![CDATA[http://neobux.com]]></parameter>
				<parameter><![CDATA[http://ebay.es]]></parameter>
				<parameter><![CDATA[http://instagram.com]]></parameter>
				<parameter><![CDATA[http://vube.com]]></parameter>
				<parameter><![CDATA[http://softonic.com]]></parameter>
				<parameter><![CDATA[http://booking.com]]></parameter>
				<parameter><![CDATA[http://eltiempo.es]]></parameter>
				<parameter><![CDATA[http://livejasmin.com]]></parameter>
				<parameter><![CDATA[http://googleusercontent.com]]></parameter>
				<parameter><![CDATA[http://rtve.es]]></parameter>
				<parameter><![CDATA[http://offeratum.com]]></parameter>
				<parameter><![CDATA[http://infojobs.net]]></parameter>
				<parameter><![CDATA[http://tumblr.com]]></parameter>
				<parameter><![CDATA[http://microsoft.com]]></parameter>
				<parameter><![CDATA[http://antena3.com]]></parameter>
				<parameter><![CDATA[http://balagana.net]]></parameter>
				<parameter><![CDATA[http://sport.es]]></parameter>
				<parameter><![CDATA[http://seriesyonkis.com]]></parameter>
				<parameter><![CDATA[http://idealista.com]]></parameter>
				<parameter><![CDATA[http://snapdo.com]]></parameter>
				<parameter><![CDATA[http://adcash.com]]></parameter>
				<parameter><![CDATA[http://edreams.es]]></parameter>
				<parameter><![CDATA[http://abc.es]]></parameter>
				<parameter><![CDATA[http://adserverplus.com]]></parameter>
				<parameter><![CDATA[http://bing.com]]></parameter>
				<parameter><![CDATA[http://adbooth.net]]></parameter>
				<parameter><![CDATA[http://wordreference.com]]></parameter>
				<parameter><![CDATA[http://blogspot.com]]></parameter>
				<parameter><![CDATA[http://digitalmedia-comunicacion.com]]></parameter>
				<parameter><![CDATA[http://elcorteingles.es]]></parameter>
				<parameter><![CDATA[http://eleconomista.es]]></parameter>
				<parameter><![CDATA[http://streamcloud.eu]]></parameter>
				<parameter><![CDATA[http://juntadeandalucia.es]]></parameter>
				<parameter><![CDATA[http://mundodeportivo.com]]></parameter>
				<parameter><![CDATA[http://bbva.es]]></parameter>
				<parameter><![CDATA[http://bankia.es]]></parameter>
				<parameter><![CDATA[http://lineadirecta.com]]></parameter>
				<parameter><![CDATA[http://buildathome.info]]></parameter>
				<parameter><![CDATA[http://goodgamestudios.com]]></parameter>
				<parameter><![CDATA[http://akamaihd.net]]></parameter>
				<parameter><![CDATA[http://20minutos.es]]></parameter>
				<parameter><![CDATA[http://magnovideo.com]]></parameter>
				<parameter><![CDATA[http://xtendmedia.com]]></parameter>
				<parameter><![CDATA[http://888poker.es]]></parameter>
				<parameter><![CDATA[http://amazon.com]]></parameter>
				<parameter><![CDATA[http://avg.com]]></parameter>
				<parameter><![CDATA[http://yieldmanager.com]]></parameter>
				<parameter><![CDATA[http://peliculasyonkis.com]]></parameter>
				<parameter><![CDATA[http://movistar.es]]></parameter>
				<parameter><![CDATA[http://venmobulo.com]]></parameter>
				<parameter><![CDATA[http://holasearch.com]]></parameter>
				<parameter><![CDATA[http://orange.es]]></parameter>
				<parameter><![CDATA[http://ingdirect.es]]></parameter>
				<parameter><![CDATA[http://v9.com]]></parameter>
				<parameter><![CDATA[http://fotocasa.es]]></parameter>
				<parameter><![CDATA[http://gruposantander.es]]></parameter>
				<parameter><![CDATA[http://elconfidencial.com]]></parameter>
				<parameter><![CDATA[http://taringa.net]]></parameter>
				<parameter><![CDATA[http://yamahaonlinestore.com]]></parameter>
				<parameter><![CDATA[http://tripadvisor.es]]></parameter>
				<parameter><![CDATA[http://paginasamarillas.es]]></parameter>
				<parameter><![CDATA[http://pinterest.com]]></parameter>
				<parameter><![CDATA[http://itrack.it]]></parameter>
				<parameter><![CDATA[http://loteriasyapuestas.es]]></parameter>
				<parameter><![CDATA[http://series.ly]]></parameter>
				<parameter><![CDATA[http://lavanguardia.com]]></parameter>
				<parameter><![CDATA[http://flickr.com]]></parameter>
				<parameter><![CDATA[http://seriescoco.com]]></parameter>
				<parameter><![CDATA[http://clickpoint.com]]></parameter>
				<parameter><![CDATA[http://bannersdontwork.com]]></parameter>
				<parameter><![CDATA[http://paypal.com]]></parameter>
				<parameter><![CDATA[http://aeat.es]]></parameter>
				<parameter><![CDATA[http://apple.com]]></parameter>
				<parameter><![CDATA[http://divxtotal.com]]></parameter>
				<parameter><![CDATA[http://youjizz.com]]></parameter>
				<parameter><![CDATA[http://aemet.es]]></parameter>
				<parameter><![CDATA[http://wigetmedia.com]]></parameter>
				<parameter><![CDATA[http://letsbonus.com]]></parameter>
				<parameter><![CDATA[http://t.co]]></parameter>
				<parameter><![CDATA[http://directrev.com]]></parameter>
				<parameter><![CDATA[http://vodafone.es]]></parameter>
				<parameter><![CDATA[http://voyage-prive.es]]></parameter>
				<parameter><![CDATA[http://bancsabadell.com]]></parameter>
				<parameter><![CDATA[http://adf.ly]]></parameter>
				<parameter><![CDATA[http://coches.net]]></parameter>
				<parameter><![CDATA[http://forocoches.com]]></parameter>
				<parameter><![CDATA[http://vk.com]]></parameter>
				<parameter><![CDATA[http://blogger.com]]></parameter>
				<parameter><![CDATA[http://directtrack.com]]></parameter>
				<parameter><![CDATA[http://bp.blogspot.com]]></parameter>
				<parameter><![CDATA[http://trovit.es]]></parameter>
				<parameter><![CDATA[http://elitetorrent.net]]></parameter>
				<parameter><![CDATA[http://hola.com]]></parameter>
				<parameter><![CDATA[http://renfe.es]]></parameter>
				<parameter><![CDATA[http://cam4.es]]></parameter>
				<parameter><![CDATA[http://williamhill.es]]></parameter>
				<parameter><![CDATA[http://iminent.com]]></parameter>
				<parameter><![CDATA[http://privalia.com]]></parameter>
				<parameter><![CDATA[http://mitele.es]]></parameter>
				<parameter><![CDATA[http://dailymotion.com]]></parameter>
				<parameter><![CDATA[http://slideshare.net]]></parameter>
				<parameter><![CDATA[http://rumbo.es]]></parameter>
				<parameter><![CDATA[http://terra.es]]></parameter>
				<parameter><![CDATA[http://bolsaparanovatos.com]]></parameter>
				<parameter><![CDATA[http://enfemenino.com]]></parameter>
				<parameter><![CDATA[http://fnac.es]]></parameter>
				<parameter><![CDATA[http://minijuegos.com]]></parameter>
				<parameter><![CDATA[http://gencat.cat]]></parameter>
				<parameter><![CDATA[http://atrapalo.com]]></parameter>
				<parameter><![CDATA[http://qvo6.com]]></parameter>
				<parameter><![CDATA[http://expansiondirecto.com]]></parameter>
				<parameter><![CDATA[http://ad6media.fr]]></parameter>
				<parameter><![CDATA[http://nvrcp.com]]></parameter>
				<parameter><![CDATA[http://filmaffinity.com]]></parameter>
				<parameter><![CDATA[http://fnac.es]]></parameter>
				<parameter><![CDATA[http://sweetim.com]]></parameter>
				<parameter><![CDATA[http://4dsply.com]]></parameter>
				<parameter><![CDATA[http://qvo6.com]]></parameter>
				<parameter><![CDATA[http://bet365.es]]></parameter>
				<parameter><![CDATA[http://adobe.com]]></parameter>
				<parameter><![CDATA[http://bwin.es]]></parameter>
				<parameter><![CDATA[http://dealsandsavings.net]]></parameter>
				<parameter><![CDATA[http://tube8.com]]></parameter>
				<parameter><![CDATA[http://libertaddigital.com]]></parameter>
				<parameter><![CDATA[http://thepiratebay.sx]]></parameter>
				<parameter><![CDATA[http://dropbox.com]]></parameter>
				<parameter><![CDATA[http://vimeo.com]]></parameter>
				<parameter><![CDATA[http://beeg.com]]></parameter>
				<parameter><![CDATA[http://ask.fm]]></parameter>
				<parameter><![CDATA[http://ikea.com]]></parameter>
				<parameter><![CDATA[http://incredibar.com]]></parameter>
				<parameter><![CDATA[http://cuantarazon.com]]></parameter>
				<parameter><![CDATA[http://peliculascoco.com]]></parameter>
				<parameter><![CDATA[http://lavozdegalicia.es]]></parameter>
				<parameter><![CDATA[http://ofertix.com]]></parameter>
				<parameter><![CDATA[http://zara.com]]></parameter>
				<parameter><![CDATA[http://fhserve.com]]></parameter>
				<parameter><![CDATA[http://madrid.org]]></parameter>
				<parameter><![CDATA[http://argonas.com]]></parameter>
				<parameter><![CDATA[http://publico.es]]></parameter>
				<parameter><![CDATA[http://gva.es]]></parameter>
				<parameter><![CDATA[http://systweak.com]]></parameter>
				<parameter><![CDATA[http://alianzis.com]]></parameter>
				<parameter><![CDATA[http://meetic.es]]></parameter>
				<parameter><![CDATA[http://zalando.es]]></parameter>
				<parameter><![CDATA[http://elcorreo.com]]></parameter>
				<parameter><![CDATA[http://europapress.es]]></parameter>
				<parameter><![CDATA[http://wikimedia.org]]></parameter>
				<parameter><![CDATA[http://media.tumblr.com]]></parameter>
				<parameter><![CDATA[http://3djuegos.com]]></parameter>
				<parameter><![CDATA[http://eggdepo.com]]></parameter>
				<parameter><![CDATA[http://logitravel.com]]></parameter>
				<parameter><![CDATA[http://bigpoint.com]]></parameter>
				<parameter><![CDATA[http://ono.es]]></parameter>
				<parameter><![CDATA[http://decathlon.es]]></parameter>
				<parameter><![CDATA[http://jobrapido.com]]></parameter>
				<parameter><![CDATA[http://cuantocabron.com]]></parameter>
				<parameter><![CDATA[http://ahorraconjazztel.com]]></parameter>
				<parameter><![CDATA[http://carrefour.es]]></parameter>
				<parameter><![CDATA[http://paraisowebcam.com]]></parameter>
				<parameter><![CDATA[http://mejortorrent.com]]></parameter>
				<parameter><![CDATA[http://wikia.com]]></parameter>
				<parameter><![CDATA[http://annualvisitorsurvey.com]]></parameter>
				<parameter><![CDATA[http://destinia.com]]></parameter>
				<parameter><![CDATA[http://enalquiler.com]]></parameter>
				<parameter><![CDATA[http://morefreecamsecrets.com]]></parameter>
				<parameter><![CDATA[http://soloaqui.es]]></parameter>
				<parameter><![CDATA[http://hootsuite.com]]></parameter>
				<parameter><![CDATA[http://autoscout24.es]]></parameter>
				<parameter><![CDATA[http://facilisimo.com]]></parameter>
				<parameter><![CDATA[http://files.wordpress.com]]></parameter>
				<parameter><![CDATA[http://mypcbackup.com]]></parameter>
				<parameter><![CDATA[http://imdb.com]]></parameter>
				<parameter><![CDATA[http://uploaded.net]]></parameter>
				<parameter><![CDATA[http://lainformacion.com]]></parameter>
				<parameter><![CDATA[http://intereconomia.com]]></parameter>
				<parameter><![CDATA[http://elperiodico.com]]></parameter>
				<parameter><![CDATA[http://infoempleo.com]]></parameter>
				<parameter><![CDATA[http://jazztelofertascombinadas.com]]></parameter>
				<parameter><![CDATA[http://skype.com]]></parameter>
				<parameter><![CDATA[http://travian.net]]></parameter>
				<parameter><![CDATA[http://casadellibro.com]]></parameter>
				<parameter><![CDATA[http://bet365.com]]></parameter>
				<parameter><![CDATA[http://twoo.com]]></parameter>
				<parameter><![CDATA[http://lasexta.com]]></parameter>
				<parameter><![CDATA[http://bancopopular.es]]></parameter>
				<parameter><![CDATA[http://advertserve.com]]></parameter>
				<parameter><![CDATA[http://mediafire.com]]></parameter>
				<parameter><![CDATA[http://xtec.cat]]></parameter>
				<parameter><![CDATA[http://groupalia.com]]></parameter>
				<parameter><![CDATA[http://seriespepito.com]]></parameter>
				<parameter><![CDATA[http://vente-privee.com]]></parameter>
				<parameter><![CDATA[http://musica.com]]></parameter>
				<parameter><![CDATA[http://boe.es]]></parameter>
				<parameter><![CDATA[http://spartoo.es]]></parameter>
				<parameter><![CDATA[http://1and1.es]]></parameter>
				<parameter><![CDATA[http://ebay.com]]></parameter>
				<parameter><![CDATA[http://cuatro.com]]></parameter>
				<parameter><![CDATA[http://trivago.es]]></parameter>
				<parameter><![CDATA[http://juegos.com]]></parameter>
				<parameter><![CDATA[http://muchoviaje.com]]></parameter>
				<parameter><![CDATA[http://ruralvia.com]]></parameter>
				<parameter><![CDATA[http://gametwist.es]]></parameter>
				<parameter><![CDATA[http://mediamarkt.es]]></parameter>
				<parameter><![CDATA[http://allmyvideos.net]]></parameter>
				<parameter><![CDATA[http://alibaba.com]]></parameter>
				<parameter><![CDATA[http://easyviajar.com]]></parameter>
				<parameter><![CDATA[http://ciao.es]]></parameter>
				<parameter><![CDATA[http://rae.es]]></parameter>
				<parameter><![CDATA[http://allmyvideos.net]]></parameter>
				<parameter><![CDATA[http://juegos.com]]></parameter>
				<parameter><![CDATA[http://edarling.es]]></parameter>
				<parameter><![CDATA[http://openadserving.com]]></parameter>
				<parameter><![CDATA[http://tiramillas.net]]></parameter>
				<parameter><![CDATA[http://loading-delivery1.com]]></parameter>
				<parameter><![CDATA[http://vueling.com]]></parameter>
				<parameter><![CDATA[http://java.com]]></parameter>
				<parameter><![CDATA[http://cadenaser.com]]></parameter>
				<parameter><![CDATA[http://quebueno.es]]></parameter>
				<parameter><![CDATA[http://xunta.es]]></parameter>
				<parameter><![CDATA[http://ryanair.com]]></parameter>
				<parameter><![CDATA[http://mega-juegos.es]]></parameter>
				<parameter><![CDATA[http://babosas.com]]></parameter>
				<parameter><![CDATA[http://iberia.com]]></parameter>
				<parameter><![CDATA[http://indeed.es]]></parameter>
				<parameter><![CDATA[http://promocion-jazztel.com]]></parameter>
				<parameter><![CDATA[http://drtuber.com]]></parameter>
				<parameter><![CDATA[http://alhea.com]]></parameter>
				<parameter><![CDATA[http://correos.es]]></parameter>
				<parameter><![CDATA[http://meristation.com]]></parameter>
				<parameter><![CDATA[http://banesto.es]]></parameter>
				<parameter><![CDATA[http://ehowenespanol.com]]></parameter>
				<parameter><![CDATA[http://mywebsearch.com]]></parameter>
				<parameter><![CDATA[http://leroymerlin.es]]></parameter>
				<parameter><![CDATA[http://siteadvisor.com]]></parameter>
				<parameter><![CDATA[http://fakings.com]]></parameter>
				<parameter><![CDATA[http://jazztelofertascombinadas.es]]></parameter>
				<parameter><![CDATA[http://bookryanair.com]]></parameter>
				<parameter><![CDATA[http://mozzi.com]]></parameter>
				<parameter><![CDATA[http://eazel.com]]></parameter>
				<parameter><![CDATA[http://pisos.com]]></parameter>
				<parameter><![CDATA[http://meneame.net]]></parameter>
				<parameter><![CDATA[http://vanitatis.com]]></parameter>
				<parameter><![CDATA[http://bravotube.net]]></parameter>
				<parameter><![CDATA[http://pgmediaserve.com]]></parameter>
				<parameter><![CDATA[http://scribd.com]]></parameter>
				<parameter><![CDATA[http://buyvip.com]]></parameter>
				<parameter><![CDATA[http://tiendeo.com]]></parameter>
				<parameter><![CDATA[http://unmillondeutilidades.com]]></parameter>
				<parameter><![CDATA[http://searchnu.com]]></parameter>
				<parameter><![CDATA[http://tiempo.com]]></parameter>
				<parameter><![CDATA[http://diariovasco.com]]></parameter>
				<parameter><![CDATA[http://sepe.es]]></parameter>
				<parameter><![CDATA[http://kioskea.net]]></parameter>
				<parameter><![CDATA[http://ucm.es]]></parameter>
				<parameter><![CDATA[http://search-results.com]]></parameter>
				<parameter><![CDATA[http://mundijuegos.com]]></parameter>
				<parameter><![CDATA[http://cremonamostre.it]]></parameter>
				<parameter><![CDATA[http://lne.es]]></parameter>
				<parameter><![CDATA[http://ign.com]]></parameter>
				<parameter><![CDATA[http://catalunyacaixa.com]]></parameter>
				<parameter><![CDATA[http://bankinter.com]]></parameter>
				<parameter><![CDATA[http://yaencontre.com]]></parameter>
				<parameter><![CDATA[http://niumba.com]]></parameter>
				<parameter><![CDATA[http://juegosjuegos.com]]></parameter>
				<parameter><![CDATA[http://mforos.com]]></parameter>
				<parameter><![CDATA[http://glispa.com]]></parameter>
				<parameter><![CDATA[http://cajamar.es]]></parameter>
				<parameter><![CDATA[http://habitaclia.com]]></parameter>
				<parameter><![CDATA[http://clkmon.com]]></parameter>
				<parameter><![CDATA[http://bershka.com]]></parameter>
				<parameter><![CDATA[http://pixmania.com]]></parameter>
				<parameter><![CDATA[http://wanadoo.es]]></parameter>
				<parameter><![CDATA[http://ideal.es]]></parameter>
				<parameter><![CDATA[http://yoigo.com]]></parameter>
				<parameter><![CDATA[http://linkbucks.com]]></parameter>
				<parameter><![CDATA[http://ideal.es]]></parameter>
				<parameter><![CDATA[http://wanadoo.es]]></parameter>
				<parameter><![CDATA[http://vistoenlasredes.com]]></parameter>
				<parameter><![CDATA[http://popads.net]]></parameter>
				<parameter><![CDATA[http://qtrax.com]]></parameter>
				<parameter><![CDATA[http://spotify.com]]></parameter>
				<parameter><![CDATA[http://sermepa.es]]></parameter>
				<parameter><![CDATA[http://putlocker.com]]></parameter>
				<parameter><![CDATA[http://wordpress.org]]></parameter>
				<parameter><![CDATA[http://lasprovincias.es]]></parameter>
				<parameter><![CDATA[http://descargo.co]]></parameter>
				<parameter><![CDATA[http://globososo.com]]></parameter>
				<parameter><![CDATA[http://jcyl.es]]></parameter>
				<parameter><![CDATA[http://paidui.com]]></parameter>
				<parameter><![CDATA[http://amazon.co.uk]]></parameter>
				<parameter><![CDATA[http://univision.com]]></parameter>
				<parameter><![CDATA[http://laverdad.es]]></parameter>
				<parameter><![CDATA[http://rojadirecta.me]]></parameter>
				<parameter><![CDATA[http://uv.es]]></parameter>
				<parameter><![CDATA[http://seg-social.es]]></parameter>
				<parameter><![CDATA[http://juegosonce.es]]></parameter>
				<parameter><![CDATA[http://paidui.com]]></parameter>
				<parameter><![CDATA[http://appmefun.com]]></parameter>
				<parameter><![CDATA[http://kayak.es]]></parameter>
				<parameter><![CDATA[http://foroactivo.com]]></parameter>
				<parameter><![CDATA[http://ilivid.com]]></parameter>
				<parameter><![CDATA[http://trafficcaptain.com]]></parameter>
				<parameter><![CDATA[http://jazztel.com]]></parameter>
				<parameter><![CDATA[http://pornerbros.com]]></parameter>
				<parameter><![CDATA[http://google.co.uk]]></parameter>
				<parameter><![CDATA[http://juegosonce.es]]></parameter>
				<parameter><![CDATA[http://about.com]]></parameter>
				<parameter><![CDATA[http://stackoverflow.com]]></parameter>
				<parameter><![CDATA[http://loquo.com]]></parameter>
				<parameter><![CDATA[http://soundcloud.com]]></parameter>
				<parameter><![CDATA[http://eldiario.es]]></parameter>
				<parameter><![CDATA[http://formulatv.com]]></parameter>
				<parameter><![CDATA[http://jccm.es]]></parameter>
				<parameter><![CDATA[http://blanco.com]]></parameter>
				<parameter><![CDATA[http://euroresidentes.com]]></parameter>
				<parameter><![CDATA[http://todocoleccion.net]]></parameter>
				<parameter><![CDATA[http://broker.to]]></parameter>
				<parameter><![CDATA[http://google.de]]></parameter>
				<parameter><![CDATA[http://nowvideo.eu]]></parameter>
				<parameter><![CDATA[http://elcomercio.es]]></parameter>
				<parameter><![CDATA[http://buongiorno.com]]></parameter>
				<parameter><![CDATA[http://ivoox.com]]></parameter>
				<parameter><![CDATA[http://mango.com]]></parameter>
				<parameter><![CDATA[http://invertia.com]]></parameter>
				<parameter><![CDATA[http://claro-search.com]]></parameter>
				<parameter><![CDATA[http://dgt.es]]></parameter>
				<parameter><![CDATA[http://pccomponentes.com]]></parameter>
				<parameter><![CDATA[http://cinetube.es]]></parameter>
				<parameter><![CDATA[http://periodistadigital.com]]></parameter>
				<parameter><![CDATA[http://vogue.es]]></parameter>
				<parameter><![CDATA[http://huffingtonpost.es]]></parameter>
				<parameter><![CDATA[http://hogarutil.com]]></parameter>
				<parameter><![CDATA[http://tv3.cat]]></parameter>
				<parameter><![CDATA[http://diariosur.es]]></parameter>
				<parameter><![CDATA[http://larazon.es]]></parameter>
				<parameter><![CDATA[http://odnoklassniki.ru]]></parameter>
				<parameter><![CDATA[http://deviantart.com]]></parameter>
				<parameter><![CDATA[http://imageshack.us]]></parameter>
				<parameter><![CDATA[http://yourlust.com]]></parameter>
				<parameter><![CDATA[http://dalealplay.com]]></parameter>
				<parameter><![CDATA[http://us.es]]></parameter>
				<parameter><![CDATA[http://vandal.net]]></parameter>
				<parameter><![CDATA[http://euskadi.net]]></parameter>
				<parameter><![CDATA[http://tablondeanuncios.com]]></parameter>
				<parameter><![CDATA[http://unicaja.es]]></parameter>
				<parameter><![CDATA[http://metaffiliation.com]]></parameter>
				<parameter><![CDATA[http://nih.gov]]></parameter>
				<parameter><![CDATA[http://memedeportes.com]]></parameter>
				<parameter><![CDATA[http://bitshare.com]]></parameter>
				<parameter><![CDATA[http://change.org]]></parameter>
				<parameter><![CDATA[http://employmentapplicationsforally.asia]]></parameter>
				<parameter><![CDATA[http://divxonline.info]]></parameter>
				<parameter><![CDATA[http://ub.edu]]></parameter>
				<parameter><![CDATA[http://cruzroja.es]]></parameter>
				<parameter><![CDATA[http://elotrolado.net]]></parameter>
				<parameter><![CDATA[http://gobiernodecanarias.org]]></parameter>
				<parameter><![CDATA[http://jimdo.com]]></parameter>
				<parameter><![CDATA[http://imgur.com]]></parameter>
				<parameter><![CDATA[http://laboris.net]]></parameter>
				<parameter><![CDATA[http://lidl.es]]></parameter>
				<parameter><![CDATA[http://exoclick.com]]></parameter>
				<parameter><![CDATA[http://venca.es]]></parameter>
				<parameter><![CDATA[http://cartrailor.com]]></parameter>
				<parameter><![CDATA[http://alsa.es]]></parameter>
				<parameter><![CDATA[http://redcoon.es]]></parameter>
				<parameter><![CDATA[http://estrenosdtl.com]]></parameter>
				<parameter><![CDATA[http://cloudfront.net]]></parameter>
				<parameter><![CDATA[http://ugr.es]]></parameter>
				<parameter><![CDATA[http://lightinthebox.com]]></parameter>
				<parameter><![CDATA[http://kutxabank.es]]></parameter>
				<parameter><![CDATA[http://emagister.com]]></parameter>
				<parameter><![CDATA[http://nuvid.com]]></parameter>
				<parameter><![CDATA[http://dfiles.eu]]></parameter>
				<parameter><![CDATA[http://disney.es]]></parameter>
				<parameter><![CDATA[http://outlook.com]]></parameter>
				<parameter><![CDATA[http://mitula.com]]></parameter>
				<parameter><![CDATA[http://medicalnewsreporter.com]]></parameter>
				<parameter><![CDATA[http://fbdownloader.com]]></parameter>
				<parameter><![CDATA[http://thefreedictionary.com]]></parameter>
				<parameter><![CDATA[http://tucasa.com]]></parameter>
				<parameter><![CDATA[http://eldiariomontanes.es]]></parameter>
				<parameter><![CDATA[http://htcmania.com]]></parameter>
				<parameter><![CDATA[http://servihabitat.com]]></parameter>
				<parameter><![CDATA[http://teletexto.com]]></parameter>
				<parameter><![CDATA[http://fichajes.com]]></parameter>
				<parameter><![CDATA[http://wuaki.tv]]></parameter>
				<parameter><![CDATA[http://uoc.edu]]></parameter>
				<parameter><![CDATA[http://portaldosites.com]]></parameter>
				<parameter><![CDATA[http://propellerpops.com]]></parameter>
				<parameter><![CDATA[http://yurmobile.com]]></parameter>
				<parameter><![CDATA[http://abcdesevilla.es]]></parameter>
				<parameter><![CDATA[http://mec.es]]></parameter>
				<parameter><![CDATA[http://micolegio.es]]></parameter>
				<parameter><![CDATA[http://heraldo.es]]></parameter>
				<parameter><![CDATA[http://freakshare.com]]></parameter>
				<parameter><![CDATA[http://diarioinformacion.com]]></parameter>
				<parameter><![CDATA[http://google.com.mx]]></parameter>
				<parameter><![CDATA[http://pullbear.com]]></parameter>
				<parameter><![CDATA[http://terra.com]]></parameter>
				<parameter><![CDATA[http://eae-deusto.es]]></parameter>
				<parameter><![CDATA[http://consumer.es]]></parameter>
				<parameter><![CDATA[http://levante-emv.com]]></parameter>
				<parameter><![CDATA[http://mozilla.org]]></parameter>
				<parameter><![CDATA[http://juridicas.com]]></parameter>
				<parameter><![CDATA[http://avast.com]]></parameter>
				<parameter><![CDATA[http://ibercajadirecto.com]]></parameter>
				<parameter><![CDATA[http://ticketmaster.es]]></parameter>
				<parameter><![CDATA[http://themeforest.net]]></parameter>
				<parameter><![CDATA[http://hoy.es]]></parameter>
				<parameter><![CDATA[http://friv.com]]></parameter>
				<parameter><![CDATA[http://vertele.com]]></parameter>
				<parameter><![CDATA[http://game.es]]></parameter>
				<parameter><![CDATA[http://juegosdechicas.com]]></parameter>
				<parameter><![CDATA[http://newpct.com]]></parameter>
				<parameter><![CDATA[http://ibercajadirecto.com]]></parameter>
				<parameter><![CDATA[http://4shared.com]]></parameter>
				<parameter><![CDATA[http://vertele.com]]></parameter>
				<parameter><![CDATA[http://salir.com]]></parameter>
				<parameter><![CDATA[http://acb.com]]></parameter>
				<parameter><![CDATA[http://redorbit.com]]></parameter>
				<parameter><![CDATA[http://themeforest.net]]></parameter>
				<parameter><![CDATA[http://played.to]]></parameter>
				<parameter><![CDATA[http://2mdn.net]]></parameter>
				<parameter><![CDATA[http://porn.com]]></parameter>
				<parameter><![CDATA[http://juridicas.com]]></parameter>
				<parameter><![CDATA[http://tonicmovies.com]]></parameter>
				<parameter><![CDATA[http://yobt.com]]></parameter>
				<parameter><![CDATA[http://wix.com]]></parameter>
				<parameter><![CDATA[http://sabadellcam.com]]></parameter>
				<parameter><![CDATA[http://jobomas.com]]></parameter>
				<parameter><![CDATA[http://europa.eu]]></parameter>
				<parameter><![CDATA[http://callejero.net]]></parameter>
				<parameter><![CDATA[http://um.es]]></parameter>
				<parameter><![CDATA[http://novagaliciabanco.es]]></parameter>
				<parameter><![CDATA[http://viamichelin.es]]></parameter>
			</parameters>
		</action>
	</action_list>
</config>
